@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    list-style: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

button {
    &:disabled {
        cursor: not-allowed;
    }
}

/* ========================================== TAILWIND STYLES */
@layer utilities {
    .wrapper {
        @apply flex items-center justify-center min-h-screen bg-gray-100;
    }

    .label {
        @apply block text-gray-700 text-sm font-bold mb-2;
    }

    .input {
        @apply block w-full bg-gray-100 border border-gray-300 rounded py-2 px-3 leading-tight focus:outline-none focus:bg-white;
    }

    .textarea {
        @apply block w-full bg-gray-100 border border-gray-300 rounded py-2 px-3 leading-tight focus:outline-none focus:bg-white min-h-[50px] resize-none;
    }

    .primary-button {
        @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none;
    }

    .secondary-button {
        @apply text-gray-500 hover:text-gray-700 focus:outline-none focus:underline;
    }
}